@import "~normalize.css";
$red:#f0f;
$green: lighten(black, 50%);



*{
  color: $red;
  background: $green;
  font-family: Roboto;
}
.box{
  height: 200px;
  width: 200px;
  background: url('./../assets/kkf.jpg') 50% 50% no-repeat ;
  background-size: cover;

}


